[2021-03-16 15:19] ta-oliver opened #3 "Wrappers for ta-lib library"
[Ta-lib library](https://github.com/mrjbq7/ta-lib) work has two components:

- [x] Wrap the ta-lib rules, so that the infertrade interface can be used to call the ta-lib rules and the created rules are compatible with SciKit Learn. E.g. you can use the fit() function to automatically calibrate the parameters.

- [ ] Add unit tests to verify the new rules are exposed through the API.

![image](http

[2021-03-16 15:22] ta-oliver opened #4 "Wrappers for ta library"
[Ta library](https://github.com/bukosabino/ta) work has two components:

Wrap the ta rules, so that the infertrade interface can be used to call the ta-lib rules and the created rules are compatible with SciKit Learn. E.g. you can use the fit() function to automatically calibrate the parameters.

Wrap infertrade to be ta compatible. Add code to allow infertrade rules to be used as if they were ta-

[2021-03-19 09:19] such3r opened #18 "infertrade/algos/external/ta.py:27: No module named 'typing_extensions'"
typing_extensions is needed while requirements.txt does not contain it.

[2021-03-19 11:07] #18 closed, assigned to such3r

[2021-03-19 13:02] ta-oliver opened #22 "Check the selected PyPi classifiers match well"
https://pypi.org/classifiers/

- [ ] Review the tags in setup.py and suggest any additions (or removals) in a PR

[2021-03-22 11:33] such3r opened #26 "Why do not we use enum for "signal"?"
Now (https://github.com/ta-oliver/infertrade/blob/dc926955575c21b054afe6d15f19db4e22ba0dd6/infertrade/api.py#L71) is:
algo_type = "signal"

I would code:
`algo_type = PandasEnum.SIGNAL.value`

[2021-03-24 10:37] #26 closed, assigned to ta-oliver

[2021-03-24 10:38] #4 closed, assigned to nobody

[2021-03-24 10:46] ta-oliver opened #33 "Consider incorporating bt library functionality"
[bt](https://github.com/pmorissette/bt) is a solid open source library allowing structure for multi-strategy configurations - very useful for institutional investors and traders with interacting strategies.

[2021-03-24 10:48] ta-oliver opened #34 "Add support for pandas-ta library"
[pandas-ta](https://github.com/twopirllc/pandas-ta) is a really nice pandas (close to our heart!) library for technical analysis.

- [ ] Research wrapping potential.

[2021-03-25 12:29] ta-oliver opened #39 "Make ta-lib installation optional"
See https://github.com/gbeced/pyalgotrade/blob/master/setup.py   approach.

[2021-03-25 12:32] ta-oliver commented on #34
Closing as we have existing support for ta-lib and there is currently no additional functionality.

[2021-03-25 12:32] #34 closed

[2021-03-25 13:19] ta-oliver commented on #3
@DimaPes - I think we can now close? Or first add some more API tests to check fulfil's inferlib requirements?

[2021-03-25 13:21] ta-oliver opened #40 "Wrapping Zipline-Trader and Pyfolio"
https://zipline-trader.readthedocs.io/en/latest/index.html#
https://github.com/quantopian/pyfolio

- [ ] To investigate if the Pyfolio and/or Zipline-trader libraries are suitable and useful for wrapping.
- [ ] If so create unit tests that verify similar performance values from InferTrade and Zipline-Trader/Pyfolio total return on a strategy, investigating any discrepancies.
- [ ] Evaluate speed o

[2021-03-25 18:15] AndjaKocic commented on #22
I think its quite good as it is. I'm not sure if it makes sense to add - Operating System :: OS Independent

[2021-03-25 18:37] ta-oliver commented on #22
Okay, great. Please add in a PR, link the PR to this issue and the issue will close automatically on merge.

[2021-03-27 19:17] #22 closed

[2021-03-29 08:25] holderfolyf opened #47 "Comparable Libraries and Packages to InferTrade"
Objectives:

- [ ] identifying similar packages and libraries utilised by developers, to gain a better understanding of where `infertrade` can add value and to avoid duplication of existing open source community efforts.
- [ ] determine which additional features or architectural changes would meet the needs of traders and developers.

Previous analysis :

Here are the top 15 open-source libraries

[2021-03-29 08:33] ta-oliver commented on #47
@holderfolyf - I'd recommend spending ~5-10% of the time intended for a task on the description of what the task will be and the anticipated plan to carry it out. The remaining 90-95% task time generally ends up significantly more efficient (e.g. x 1.5 or x 2), which compensates for the overhead of describing the task clearly. So if you want to spend 4 hours researching then it is good to spend 10

[2021-03-29 08:50] holderfolyf commented on #47
Identifying Similar Packages and Libraries utilized by developers, this will help in getting a better understanding of requirements.

Determine what features are typically expected by users/developers.

Discover opportunities to build new features.

Optimize existing code.

Discovering New libraries to wrap and integrate with this repo to build better and more collaborative software.

[2021-03-29 10:35] ta-oliver opened #48 "Installation errors"
# Infertrade OpenSource Library

## Error Faced:
- While installing requirements file the package - (scikit-learn==0.23.1) I faced an error and after removing specified version the error solved
- Unable to run following code provided as example
[code]
- Error faced :
[code]

[2021-03-30 08:22] ta-oliver opened #50 "More installation errors"
Feedback:

I tried to install the inferstat package in my machine but i ran into several errors. Attached herewith is the log for your reference.

Update: I was able to successfully install the package by manually installing the dependencies or packages that cause errors and reinstall again.

Few examples of the errors:
![image](https://user-images.githubusercontent.com/10995066/112719597-996c1200

[2021-03-30 08:26] holderfolyf opened #51 "Test files DLL load failed while importing qhull: The specified module could not be found."
I have reinstalled anaconda python 3.8.5 and infertrade package
Visual Microsoft Visual C++ 2008 - 2019 installed and upto date.
Windows 10 64bit latest build and updates.
VSCode
Kindly provide solution.
Same error with all files in tests directory.
Terminal log of test_ta provided. however error is same with all tests

[1348 30032021 qhull error test_ta.txt](https://github.com/ta-oliver/infertrad

[2021-03-30 09:17] NikolayAlemasovInferstat commented on #50
The idea of updating instructions as suggested seems to be rational.

[2021-03-30 13:42] holderfolyf opened #53 "pip install error python 3.9"
Pip install faced many errors when installing with python 3.9

I have added install logs in text file for your review.

[pip install error 1708 30032021.txt](https://github.com/ta-oliver/infertrade/files/6229413/pip.install.error.1708.30032021.txt)

[2021-03-30 13:44] ta-oliver commented on #53
Maybe we could change the package specification to a range?

![image](https://user-images.githubusercontent.com/29981664/112998884-5beecb00-9166-11eb-8350-5259baa52bba.png)

https://github.com/ta-oliver/infertrade/blob/main/setup.py

[2021-03-30 13:57] holderfolyf opened #54 "TA module not found. Already installed"
Python version 3.7.7

When I try to run ta.py I get a module not found error.

  from ta.momentum import *
ModuleNotFoundError: No module named 'ta.momentum'; 'ta' is not a package

I have included list of packages installed
Installation Log
Terminal Log when error occured

[Install logs ta already installed.txt](https://github.com/ta-oliver/infertrade/files/6229528/Install.logs.ta.already.install

[2021-03-31 10:53] StephenCairnsInferstat opened #56 "Tests failing on main branch"
Two tests failing on main infertrade branch: class KeyError and missing 'low' argument TypeError

![infertrade_failing_tests](https://user-images.githubusercontent.com/81490482/113133172-44234f80-9217-11eb-950c-9ad2ff4d9e83.png)
![failing_test_2](https://user-images.githubusercontent.com/81490482/113133463-96647080-9217-11eb-9360-630d7fe63b1d.png)

[2021-04-02 14:46] holderfolyf commented on #51
Support for Anaconda required

[2021-04-02 14:46] #51 closed

[2021-04-05 11:14] holderfolyf commented on #54
Issue resolved by installing using setup.py .

[2021-04-05 11:14] #54 closed

[2021-04-06 15:48] holderfolyf opened #65 "Installation error infertrade 0.18 TA-LIB version not found."

[2021-04-06 15:58] holderfolyf commented on #65
Errors faced with infertrade 0.18 installation in windows and linux. Issue faced with talib package during installation. Package not found and incompatible dependencies error matplotlib and scikit learn.

Both pip install and setup.py installation methods failed.

Fix for windows is to manually install TA-LIB 0.4.0

Ubuntu when trying to install using following command:

[code]

[2021-04-06 16:07] holderfolyf opened #66 "Performance Calculator Key Error 0"
Using the performance calculator function I got a key error 0 despite appropriately labelling the columns in D

ataframe.  I have the same issue with latest version of infertrade on windows and linux.

Code breaks on line 121, in calculate_portfolio_performance_python
    todays_target_position = df_with_positions[PandasEnum.ALLOCATION.value][ii_period]  # Note may be NaN

[Uploading Performance c

[2021-04-06 16:13] ta-oliver commented on #66
This error is on performance-calculator-error branch?

[2021-04-06 16:15] holderfolyf commented on #66
no infertrade-main 0.18

[2021-04-06 16:16] ta-oliver commented on #65
@holderfolyf - we can allow the packages some flexibility and see if any issues still arise. I've raised a PR for this: #67

[2021-04-06 16:16] #56 closed

[2021-04-06 16:19] ta-oliver commented on #53
@holderfolyf - I have created a PR to restrict to Python 3.7 until we can resolve incompatibilities.

[2021-04-06 16:21] ta-oliver commented on #48
@holderfolyf - I think you fixed this one? Can we close?

[2021-04-06 16:23] ta-oliver commented on #66
Can you add a unit test that fails as a feature branch? That is the easier way for me to diagnose and fix. I check out the branch, run all tests, see failing test, then fix.

[2021-04-06 17:15] #65 closed

[2021-04-06 17:15] #53 closed

[2021-04-07 10:46] holderfolyf commented on #66
Reason for error,  index was not reset to 0 after df.dropna method.  using df.reset_index(drop=True)  fixes  the issue

[2021-04-07 10:46] #66 closed

[2021-04-11 06:07] holderfolyf commented on #48
errors still faced with constant_allocation_size. I have added code used and terminal log for errors.

[InfertradeConstant allocation error.txt](https://github.com/ta-oliver/infertrade/files/6291254/InfertradeConstant.allocation.error.txt)
[InfertradeConstant allocation code error.txt](https://github.com/ta-oliver/infertrade/files/6291255/InfertradeConstant.allocation.code.error.txt)

[2021-05-04 13:36] ta-oliver opened #86 "Add Chande Kroll Stop to set of rules"

[2021-05-07 08:13] fernando-az-infertrade commented on #50
@NikolayAlemasovInferstat @ta-oliver Can this issue be closed? The package in the pypi test repository is already outdated as compared to the main. Alternatively,

works for me (by pulling the packages listed in requirements.txt from the main repository, instead of from the test repository).

[2021-05-07 08:38] #50 closed

[2021-05-07 09:03] ta-oliver commented on #48
@holderfolyf - as per @fernando-az-infertrade 's comment, this should be fixed, but if re-occurs we can reopen.

[2021-05-07 09:03] #48 closed

[2021-05-19 15:01] fernando-az-infertrade opened #96 "Generalise the pipeline to allow for multiple regression"
In a conversation I had with ta-oliver (2021-05-19), he suggested:

I'm putting this issue in icebox for now, as there seem to be more pressing matters, but this probably should be implemented.

[2021-05-19 19:42] fernando-az-infertrade opened #99 "Create a decorator that caps the range of allocation (for allocations.py)"
In PR #97, ta-oliver commented:

and

This decorator could deal with:
(a) short selling and usage of leverage;

~~(b) handling "allocators" that don't return values in [-1, 1].~~

~~Although with (b) there's obviously an issue with knowing how to normalize the series.~~
**(edited: changed as per the comments below)**

This could be worth looking into soon-ish (implemeting the decorator should be s

[2021-05-19 20:48] ta-oliver commented on #99
a) is a very simple and formulaic constraint decorator.

b) would be potentially quite complicated, depending on what level of complexity was acceptable.

It might be worth splitting off a) as that will be 6 lines of code whereas b) may be a mini-research project given different possible considerations (e.g. if bid-offer is high you may want stable allocations).

[2021-05-19 23:37] fernando-az-infertrade opened #100 "Add code coverage to the repository"
In keeping with currently widely-adopted standards, this repository ideally should have some form of code coverage measure in place for unit testing.

I do feel, however, that getting the coverage numbers up to an acceptable level would require substantial effort and should not currently be a priority.

To do:

- [ ] Research [GitHub Marketplace solutions](https://github.com/marketplace?category=c

[2021-05-20 18:01] fhashim opened #102 "Improving the documentation and testing the overall package"

[2021-05-20 18:07] fhashim commented on #102
@ta-oliver I am unable to assign this task to myself. Seems like that I don't have sufficient rights to do that. Can you please assign this task to me?

[2021-05-20 18:08] ta-oliver commented on #102
@fhashim - done.

Can you add some description of your plans to the issue description? Always helpful to understand the scope and to help with your own planning.

[2021-05-20 18:46] fhashim commented on #102
@ta-oliver I would start off with the [operations.py](https://github.com/ta-oliver/infertrade/blob/main/infertrade/utilities/operations.py) file. I would perform unit testing and prepare a documentation for each function. The idea behind the documentation is to make users understand the functionalities, input type expected and the resulting outcome.

[2021-05-21 03:51] fernando-az-infertrade commented on #40
What we would we be interested in wrapping? I've been looking at the package and it seems to be mostly geared toward backtesting with some small-ish number of indicators and statistical functions rolled in (indicators and statiscial functions are a subset of what the packages calls "Factors"):

[code]

For the backtesting part, there's also quite a bit of statics regarding the returns (mostly with

[2021-05-23 15:37] hfurqan commented on #102
@ta-oliver documentation can prepared using wiki on GitHub. Do you want me to create the wiki pages for documentation? If there is another approach you want me to follow please suggest.

In case the documentation is supposed to be placed on wiki then please provide sufficient rights so I can create wiki pages.

[2021-05-23 15:38] fhashim commented on #102
@ta-oliver documentation can prepared using wiki on GitHub. Do you want me to create the wiki pages for documentation? If there is another approach you want me to follow please suggest.

In case the documentation is supposed to be placed on wiki then please provide sufficient rights so I can create wiki pages.

[2021-05-24 09:32] ta-oliver commented on #102
Sphinx is recommended for Python projects:

https://www.sphinx-doc.org/en/master/
https://docs.python-guide.org/writing/documentation/#sphinx-ref

[2021-05-24 09:37] ta-oliver commented on #102
However if you want to get started by creating some MarkDown files and/or editing the main readme that is fine. We can always consider Sphinx at a later stage?

[2021-05-24 19:26] fhashim commented on #102
@ta-oliver I would prefer using [sphinx](https://www.sphinx-doc.org/en/master/) from the very beginning. I believe that is a more appropriate approach.

[2021-05-25 11:41] ta-oliver commented on #40
One wrapping approach would be to make the statistical outputs (e.g. on returns) available for InferTrade inferface strategies. I agree this issue needs much better clarity. We can icebox for now.

[2021-05-25 11:42] #47 closed

[2021-05-25 11:43] ta-oliver commented on #99
@fernando-az-infertrade - I think a) will be very fast, as limited code. Happy to undertake?

[2021-05-25 11:45] ta-oliver commented on #102
@fhashim - Sphinx is a good approach. Thanks for the PR - I've added some comments.

[2021-05-25 19:20] fernando-az-infertrade commented on #40
Probably wouldn't be too hard. I'll look into it (eventually).

Sure. I'll keep myself assigned to it so I'll remember to revisit the issue as soon as possible.

[2021-05-25 19:21] fernando-az-infertrade commented on #99
Yes.

[2021-05-29 13:36] fhashim opened #106 "Boost Unit Testing Line Coverage to 100% (unit tests trigger all lines of functional code)"
Perform unit testing on package:

- [ ] Identify gaps in the existing coverage using the coverage package.
- [ ] Add additional tests to the test suite to improve coverage.
- [ ] If functional bugs are identified raise PRs with clear explanation of what is bugged and how the fix will help.

[2021-05-29 13:38] fhashim commented on #106
@ta-oliver I am starting to perform unit testing on package. Starting with [operations.py](https://github.com/ta-oliver/infertrade/blob/main/infertrade/utilities/operations.py).

[2021-06-01 15:32] ta-oliver commented on #106
@fhashim - the PR you raised made changes to the functional code but did not add any unit tests. If you created unit tests offline please can you add them to the tests directory. Generally we shouldn't be changing the functional code during unit testing unless a bug is clearly identified by a failing unit test.

[2021-06-10 13:09] ta-oliver commented on #99
@holderfolyf - this could be extended to include a daily stop loss? And eventually dynamic stop losses?

[2021-06-21 12:39] ta-oliver commented on #99
Potential PRs for this:

https://github.com/ta-oliver/infertrade/compare/main...modified_decorator_branch
https://github.com/ta-oliver/infertrade/compare/main...decorator_for_allocations_py

[2021-06-22 12:22] clevermiraz opened #118 "Extend version compatibility from Python 3.7 to Python 3.9"
- [ ] Identify and remediate the incompatibilities with Python 3.9, (e.g. using [nox](https://nox.thea.codes/en/stable/) or manually) so that the repo can be used for 3.7, 3.8 and 3.9.
- [ ] If easy to expand wider than that (e.g. back to 3.6) consider doing so if effort required is trivial.
- [ ] Update documentation with the expanded range.

* * * * * * *

PS C:\Windows\system32> pip install inf

[2021-06-22 12:25] ta-oliver commented on #118
Are you using a venv virtual environment? Can you do `pip freeze` to print out the package versions you have installed?

[2021-06-22 12:32] clevermiraz commented on #118
this issue already occurred scikit learn 0.23.2
see here: https://github.com/scikit-learn/scikit-learn/issues/18621

✔but then I install python version 3.7.1. Then this package successfully install.

✅The problem is when trying to install scikit-learn 0.23.2 with python version 3.9.2

the issue they solve on scikit-learn 0.24

[2021-06-22 12:38] ta-oliver commented on #118
```python_requires=">=3.7.0,<3.8.0",```  See [here](https://github.com/ta-oliver/infertrade/blob/main/setup.py).

This package requires 3.7 unfortunately.

[2021-06-22 12:39] ta-oliver commented on #118
We can probably update to latest Python, but the incompatibility would need diagnosing and fixing.

[2021-06-22 12:42] clevermiraz commented on #118
Of course we always have to stay updated

[2021-06-22 12:48] ta-oliver commented on #118
There are some challenges doing so, if you use a variety of packages then they all need to be compatible as you update.

[2021-06-23 23:17] holderfolyf commented on #99
I am working on a solution for stop-loss however facing some issues with computing entry price. Shall i commit work in progress code to this branch or a separate one?

[2021-06-24 09:19] ta-oliver commented on #99
We want to merge improvements to dev whenever they are complete, starting further work as fresh feature branches.

I would suggest us first reviewing and merging in @fernando-az-infertrade 's improvements and then you could create a new feature branch to work on adding the stop loss?

[2021-06-25 18:46] #102 closed

[2021-06-27 15:52] fhashim commented on #106
@ta-oliver I've started this task. I will make a directory to named unit_testing which will contain unit tests in case of any bugs.
I would like to ask if warnings and data type issues are also part of unit testing? E.g. passing incorrect data type should raise DataType Error. User might pass data containing infinite values and NaNs in that case we should warn user that their data contains infinit

[2021-06-27 15:54] fhashim commented on #106
@ta-oliver I would start with the utilities module. Do I need to add all unit tests that I am performing or only the ones where error is reported?

[2021-06-28 10:59] ta-oliver commented on #106
I would like to ask if warnings and data type issues are also part of unit testing? E.g. passing incorrect data type should raise DataType Error. User might pass data containing infinite values and NaNs in that case we should warn user that their data contains infinite values of NaNs. Are these two scenarios also part of unit testing?

So for this task you do not want to create a new test folder.

[2021-06-28 11:13] ta-oliver commented on #106
Initial focus should be on functions that are not comprehensively run during our unit tests.

So good to use test coverage to check. @bi-kash has added the following branch to make checking coverage easier: https://github.com/ta-oliver/infertrade/pull/127

[2021-06-28 11:45] ta-oliver commented on #100
This will be provided by the makefile additions by @bi-kash

[2021-06-28 12:03] ta-oliver opened #128 "Bug with Egg Info build"
[Action](https://github.com/ta-oliver/infertrade/actions) completion problems in v0.0.36 and v0.0.37:

![image](https://user-images.githubusercontent.com/29981664/123633388-0e3f3880-d811-11eb-97e2-216c0d66274b.png)

Was working in v0.0.35:

![image](https://user-images.githubusercontent.com/29981664/123633460-26af5300-d811-11eb-8833-35e313792388.png)

[2021-06-28 12:08] ta-oliver commented on #128
@pawkw - would you be able to diagnose and fix?

[2021-06-28 12:15] martinbarnard commented on #128
@ta-oliver Was the dockerfile changed? Looks like the requirements.txt is not copied into the build.

[2021-06-28 12:20] ta-oliver commented on #128
The [build file](https://github.com/ta-oliver/infertrade/blob/main/.github/workflows/python-publish.yml) hasn't been changed since March. Possible something has changed externally?

[2021-06-28 12:44] martinbarnard commented on #128
Possibly. The issue is directly caused by a missing requirements.txt file on line 81: https://github.com/ta-oliver/infertrade/blob/b21e0b2a2dd55094b0b0b49293102a58da784802/setup.py#L81
This is caused by either the requirements.txt actually being missing due to the job not copying the relevant file over to the right location, or `this_directory` being miscalculated somehow.

Have you tried re-runni

[2021-06-28 14:47] ta-oliver commented on #128
This is second build that failed (v0.0.36 also failed), so I think it may be persistent problem; possibly a package is no longer available.

[2021-06-28 15:40] #100 closed

[2021-06-28 15:51] ta-oliver opened #129 "Consider merging up the documentation and non-documentation makefiles"
https://github.com/ta-oliver/infertrade/blob/main/Makefile
https://github.com/ta-oliver/infertrade/blob/main/documentation/Makefile

[2021-06-28 16:37] ddiazsouto commented on #128
As a fact, is not finding requirements.txt, I agree, the likely two possibilities are either not correctly copied or wrong directory.

It seems to be looking for it in tmp/.../infertrade-0.0.37/, is that the same folder where we are copying the files?

Does anywhere above line 267 confirm that the file was moved as tmp/.../infertrade-0.0.37/requirements.txt in the build or could we make it output

[2021-06-28 17:08] martinbarnard commented on #128
I think we would have to modify the build steps to display the output of the required variables.
I looked through the commit history and could see nothing which would cause this issue between the last working build and this one, so I am assuming that it is environmental.
However, given that it's still not building, there could be something I missed. I will try to look again later.

[2021-06-28 17:25] ta-oliver commented on #128
Agree. Looks environmental. I just tried updating the [Docker image tag used](https://hub.docker.com/_/ubuntu) to be Ubuntu 18.04 (which should be prior to any recent updates), but that didn't help.

[2021-06-28 17:26] ta-oliver commented on #128
I changed `ubuntu-latest` -> `ubuntu-18.04`

[2021-06-28 17:28] ta-oliver commented on #128
We probably should have a fixed version anyway rather than rolling latest to avoid unscheduled urgent investigation requirements.

[2021-06-28 17:36] ddiazsouto commented on #128
Yes, it will make it more stable. I think printing out in the build the directories that we are using (looking for requirements.txt and copying files to) would be a sensible next step as it would narrow down the problem

[2021-06-28 17:37] martinbarnard commented on #128
Would help for future issues, but to be fair - if we are pinning versions, we can examine build issues with upgraded versions before release so that we don't have these issues in future.

[2021-06-29 14:35] ddiazsouto commented on #128
egg_info works well on my computer, I tried to access setup.py from a different directory and I got this error, quite similar to what is breaking the build.

![Issue-bug](https://user-images.githubusercontent.com/77495574/123816613-5c2a6e00-d8ef-11eb-9d16-4ebdab208c02.jpg)

I have no access to the environment so I can not check but seems that we bay be calling the build from a different directory

[2021-06-29 16:27] #129 closed

[2021-06-30 10:03] ddiazsouto commented on #128
I thought this issue could help:
 https://stackoverflow.com/questions/57611665/tox-fails-because-setup-py-cant-find-the-requirements-txt

[2021-06-30 17:05] fhashim commented on #106
@ta-oliver I will check and understand how to make use of the makefile.

Currently, I am performing unit tests to identify if there are any functional bugs. I am assuming that coverage is not required to identify functional bugs right?

[2021-06-30 19:40] ta-oliver commented on #106
You are writing [functional tests](https://www.zealousweb.com/unit-testing-vs-functional-testing-a-guide-on-why-what-how/)?

Functional tests are good if it is clear how the package is described being used. You should check which functional tests there are already and consider if there are gaps or whether they should be made more comprehensive.

[2021-07-01 12:31] SaurabhBansalInferstat commented on #128
@ta-oliver seems like it has been fixed?

[2021-07-01 12:31] ta-oliver commented on #128
Thanks @bi-kash and @SaurabhBansalInferstat for the fixes - two separate problems needed to be addressed...!

[2021-07-01 12:31] #128 closed

[2021-07-01 12:31] ta-oliver commented on #128
Yes - the lack of imports and the directory path assumptions now fixed.

[2021-07-01 12:36] ta-oliver commented on #99
@bi-kash - this is the allocations restriction issue we discussed.

[2021-07-01 12:40] bi-kash commented on #99
I'll start addressing this issue ASAP.

[2021-07-02 10:00] ta-oliver commented on #99
Also see discussions [here](https://github.com/ta-oliver/infertrade/pull/104) and [here](https://github.com/ta-oliver/infertrade/pull/104).

[2021-07-02 10:03] ta-oliver commented on #99
Essentially @fernando-az-infertrade created a better format that I had initially envisioned and we could make a @apply_restrictions decorator of similar format.

[2021-07-02 10:33] ta-oliver commented on #39
Completed by @pawkw

[2021-07-02 10:33] #39 closed

[2021-07-02 15:48] ta-oliver commented on #99
@bi-kash , @holderfolyf  - we could incorporate the stop loss into this format too.

[2021-07-03 08:56] Sangam351 commented on #106
Received !

[2021-07-05 10:18] ta-oliver commented on #106
@fhashim - transferring this issue to @Sangam351 . Let's discuss other project work when convenient?

[2021-07-05 13:16] ta-oliver opened #141 "Add new trading rules to InferTrade that use the technical analysis rules with conventional recipe"
Currently we have rules that calculate a technical analysis rules and then determine positions by linear regression.

The class used to calculate the allocation from the signal is [here](https://github.com/ta-oliver/infertrade/blob/9ff89155a57fbb5ec0b3259a06ff023bc981e18a/infertrade/utilities/operations.py#L102).

Many technical trading rules do not use a regression to calculate their sizing, but

[2021-07-06 07:03] bi-kash commented on #106
Points to take into account:
1. Coverage package measures which execution paths were run. It has no means of tracking what values were used, including what exception types were raised. The coverage report shows missing lines because of these untracked exceptions. Otherwise, code is mostly covered.
2. However it doesn't mean we have good tests. Most tests are just checking whether two data types ar

[2021-07-06 11:00] #99 closed

[2021-07-06 11:00] ta-oliver commented on #99
Many thanks @bi-kash , @fernando-az-infertrade and @holderfolyf .

[2021-07-06 11:02] ta-oliver commented on #106
@bi-kash - absolutely. 100% line coverage does not guarantee well tested. However less than 100% means some sections of code are not run at all by CI, so if someone breaks syntax completely in those regions the CI will still pass; 100% coverage thus helps protect again simple mistakes during refactoring. To ensure package is actually working we really need functional tests showing outputs match ex

[2021-07-06 11:04] ta-oliver commented on #141
@fhashim - unfortunately we can't link issues unless they fully address an issue (as issue will close prematurely when PR is merged).

[2021-07-06 11:25] Cal231995 commented on #141
Here is the sample of one of the most basic use tech indicators for traders.

The condition/parameter is to give a buy signal when the price is above ema50 and vice versa give a sell signal when the price is below the ema50. (we can adjust the ema length later depend on user).

We're trying to test it with @bi-kash  and once ready for testing we can add more complicated ones, tech indicators that

[2021-07-06 11:31] Cal231995 commented on #141
DECRIPTION : EXPONENTIAL MOVING AVERAGE (50)

CONDITION/PARAMETER : GIVE A BUY SIGNAL WHEN THE ASSET PRICE CLOSED ABOVE THE EMA50 VALUE AND VICE VERSA GIVE A SELL SIGNAL WHEN THE ASSET PRICE CLOSED BELOW OR LOWER THAN EMA50 VALUE
![ema 50](https://user-images.githubusercontent.com/85642641/124593065-c6638580-de90-11eb-8cd0-fff42b723152.JPG)

LINK FOR FURTHER DETAILED EXPLANATION OF EXPONENTIAL MOV

[2021-07-06 11:33] Cal231995 commented on #141
Hi sir @ta-oliver , for your comments regarding this format of recording here in gihub. Thanks

[2021-07-06 11:34] ta-oliver commented on #141
Let's move each trading rule addition to its own GitHub issue? You can use "Reference in new issue" to do this.

![image](https://user-images.githubusercontent.com/29981664/124593358-7536a000-de56-11eb-9bfa-de8855484b2d.png)

[2021-07-06 11:35] Cal231995 commented on #141
noted sir. thanks

[2021-07-06 11:36] Cal231995 opened #143 "Add new trading rule: Exponential Moving Average"
DECRIPTION : EXPONENTIAL MOVING AVERAGE (50)

CONDITION/PARAMETER : GIVE A BUY SIGNAL WHEN THE ASSET PRICE CLOSED ABOVE THE EMA50 VALUE AND VICE VERSA GIVE A SELL SIGNAL WHEN THE ASSET PRICE CLOSED BELOW OR LOWER THAN EMA50 VALUE
![ema 50](https://user-images.githubusercontent.com/85642641/124593065-c6638580-de90-11eb-8cd0-fff42b723152.JPG)

LINK FOR FURTHER DETAILED EXPLANATION OF EXPONENTIAL MOV

[2021-07-06 11:38] Cal231995 commented on #143
@bi-kash you can found the mathematical formula for ema on this one https://www.investopedia.com/terms/e/ema.asp
for further understanding of the indicator.

@fhashim we can collab here for the creation of pdf for this rule.

[2021-07-06 11:44] ta-oliver opened #145 "Refactor community allocation rules into individual files"
# Current Situation

Currently we are adding all our community allocation rules to [one large file](https://github.com/ta-oliver/infertrade/blob/main/infertrade/algos/community/allocations.py).

Currently when we add a new rule we need to edit the file and (dictionary),  which does not align with ["software entities (classes, modules, functions, etc.) should be open for extension, but closed for m

[2021-07-06 11:48] ta-oliver commented on #143
@Cal231995 - we need the rules to have specific outputs in terms of portfolio allocation.

So for example the "buy" signal could take a 100% position.

However as 100% might be too big, we could consider having the investment size as a parameter "max_investment" ranging from 0.0 to 1.0.

Does a sell signal mean go short (negative allocations) or is it saying sell any holdings?

So one rule could b

[2021-07-06 11:54] ta-oliver commented on #118
@pawkw - how difficult is this looking? We can defer if there are multiple problematic packages.

[2021-07-06 11:55] Cal231995 commented on #143
However as 100% might be too big, we could consider having the investment size as a parameter "max_investment" ranging from 0.0 to 1.0. - yes sir agreed on this one.

Does a sell signal mean go short (negative allocations) or is it saying sell any holdings? -  yes sir, a sell signal is also equal to go shorting, means selling your current long position and going on to short position.

So one rule

[2021-07-06 11:56] Cal231995 commented on #143
The shorting option (2nd rule) will provide more returns I think.

A different rule (which takes shorts) would be:

if price > ema_50_avg:
position = max_investment
else:
position = -max_investment

[2021-07-06 11:57] ta-oliver commented on #143
So we can go for the second one and then use the [restriction decorator](https://github.com/ta-oliver/infertrade/pull/139) to create the first rule - it wouldn't need to be a separate rule.

There would be two parameters: max_investment (default 0.5) and exponential_window (default 50).

[2021-07-06 11:58] Cal231995 commented on #143
yes sir. that would be the ideal approach

[2021-07-06 13:40] Cal231995 opened #146 "ADD NEW TRADING RULE : RELATIVE STRENGTH INDEX (RSI)"
DESCRIPTION : RELATIVE STRENGTH INDEX

CONDITION/PARAMETER : GIVE A BUY SIGNAL WHEN RSI VALUE IS BELOW 30 VICE VERSA GIVE A SELL SIGNAL WHEN THE RSI VALUE IS ABOVE 70.

if RSI value < 30:
position = max_investment

if RSI value > 70:
position = -max_investment

quick link to RSI
https://www.investopedia.com/terms/r/rsi.asp

![RSI](https://user-images.githubusercontent.com/85642641/124609882-9d4bf0

[2021-07-06 13:41] Cal231995 commented on #146
Hi @bi-kash @fhashim for our common reference. thanks

[2021-07-07 09:34] ta-oliver opened #147 "Migrating over relationship rules to InferTrade"
We have some feature branches here adding new rule types that can be found on InferTrade.com:

![image](https://user-images.githubusercontent.com/29981664/124736288-c3a77580-df0e-11eb-84ca-82985251b01e.png)

This issue is to

- [ ] add unit tests to the branches
- [ ] incorporate these branches into our main branch.

Details on the rule can be found in our PDFs:

https://github.com/ta-oliver/infer

[2021-07-10 15:04] Cal231995 commented on #143
Hi Sir @ta-oliver please see attached file for proposed workflow process of using tech indicator as a signal to find predictability.

for your comments and approval.
[Inferstat Improvements.xlsx](https://github.com/ta-oliver/infertrade/files/6795468/Inferstat.Improvements.xlsx)

[2021-07-10 15:04] Cal231995 commented on #143
ALSO I'VE TESTED THIS EMA(50) RULE MANUALLY AND PRODUCE RESULTS DEPENDING ON ALLOCATIONS THAT WERE USED.

INITIAL RESULTS SHOWED THAT BIGGER ALLOCATION RESULTS TO BIGGER RETURNS.
SEE DIFFERENT DATAS BELOW THANKS.
![BTC TRADES](https://user-images.githubusercontent.com/85642641/125167442-2a5cb580-e1d3-11eb-981a-aee9368821ee.jpg)
![Uploading 10 percent.JPG…]()

[2021-07-10 15:06] Cal231995 commented on #143
![100 percent](https://user-images.githubusercontent.com/85642641/125167449-334d8700-e1d3-11eb-8631-8b6a27031fc4.JPG)

[2021-07-10 15:07] Cal231995 commented on #143
![10 percent](https://user-images.githubusercontent.com/85642641/125167536-9fc88600-e1d3-11eb-85e7-4454b2530f84.JPG)

[2021-07-10 15:07] Cal231995 commented on #143
![50 percent](https://user-images.githubusercontent.com/85642641/125167538-a656fd80-e1d3-11eb-81e8-89c803403e35.JPG)

[2021-07-12 13:32] Cal231995 opened #155 "Generate downloadable CSV for the returns/results in optimization of an asset vs indicator"
Generate trade results/returns in CSV format for the user to understand more how the analysis went.

Initial format Below

![10 percent](https://user-images.githubusercontent.com/85642641/125291510-13919c80-e354-11eb-9832-13ae875d5d8c.JPG)
![50 percent](https://user-images.githubusercontent.com/85642641/125291525-15f3f680-e354-11eb-83df-4e385d49aa37.JPG)
![100 percent](https://user-images.githubus

[2021-07-12 13:41] Cal231995 commented on #155
![Uploading BTC TRADES.jpg…]()

[2021-07-12 23:48] Cal231995 commented on #155
![BTC TRADES](https://user-images.githubusercontent.com/85642641/125369367-ab23d900-e3ae-11eb-928e-e4dde9ab22d5.jpg)

[2021-07-13 10:31] Cal231995 commented on #146
![rsi meaning](https://user-images.githubusercontent.com/85642641/125437232-d12ea485-890c-46d2-aec0-2e20427eec7f.JPG)
Definition of RSI

[2021-07-13 11:00] Cal231995 commented on #146
formula for rsi
![formula for rsi](https://user-images.githubusercontent.com/85642641/125440447-fb6f3237-706b-463f-a372-8f8c0675e4f0.JPG)

[2021-07-13 17:57] fhashim commented on #146
@Cal231995 can you confirm if the time period used to compute RSI is 14 days? thanks

[2021-07-13 18:39] ta-oliver commented on #146
You can see the rule (coded by @bi-kash ) here: https://github.com/ta-oliver/infertrade/blob/5f74bdeb99eb26c15df0b5417de837466cefaee1/infertrade/algos/community/allocations.py#L522

We should match the PDF documentation with the Python code (and vice-versa!).

[2021-07-14 00:33] Cal231995 commented on #146
yes , we used 14 as our default

[2021-07-14 11:41] bi-kash opened #159 "BOLLINGER BAND - -DOCUMENTATION (DESCRIPTIONS OF EXISTING RULES/INDICATORS)"
# Bollinger Band
Bollinger band calculates a signal which characterizes the prices and volatility over time. There are three lines that compose Bollinger Bands. By default:
* **1. Middle band:** A 20-day simple moving average
* **2. The upper band:** 2 standard deviations above from a 20-day simple moving average (SMA)
* **3. The lower band:** 2 standard deviations - from a 20 day SMA

### Allocat

[2021-07-14 11:42] #146 closed

[2021-07-14 11:45] bi-kash commented on #159
@Cal231995 Take a look at this. Am I missing anything? Can this rule be made stronger?

This post talks about 22 rules. Can you do a research on this?
**https://www.investopedia.com/terms/b/bollingerbands.asp**

[2021-07-14 12:27] Cal231995 commented on #159
Yes I'll send a chart here.

This is the best way for this indicator

Relies on the concept of `mean reversion:
The theory suggests that asset price volatility and historical returns eventually will revert to the long-run mean. So:

if price>=upper_band_value then allocation = -max_allocation (short position)
if price hits the middle band then close short position

if price<=lower_band_value then

[2021-07-14 12:57] Cal231995 opened #160 "Add new trading rule document: Moving Average Convergence Divergence (MACD)"
Moving average convergence divergence (MACD) is a trend-following momentum indicator that shows the relationship between two moving averages of a security’s price. The MACD is calculated by subtracting the 26-period exponential moving average (EMA) from the 12-period EMA.

**Allocation Strategy**
The strategy is to identify bullish and bearish crossovers.
Bullish crossover - when MACD line cross a

[2021-07-14 12:58] Cal231995 commented on #160
![macd](https://user-images.githubusercontent.com/85642641/125625851-22600aa2-0880-4939-9d79-cbf98fe6d874.jpg)

[2021-07-14 13:14] Cal231995 commented on #160
for documentation purposes

[2021-07-14 13:15] bi-kash commented on #160
Refer to this: https://github.com/ta-oliver/infertrade/pull/152

[2021-07-14 13:18] ta-oliver commented on #155
@ddiazsouto - would you like to try this issue? Add a function that user can call to output a CSV to local storage with allocation and returns details etc.

Main requirement is a function that calls [this function](https://github.com/ta-oliver/infertrade/blob/5c02a4c9b139c4b8795f2d8ea77ccb4d8e90f7e4/infertrade/utilities/performance.py#L29) with `detailed_output = True` followed by use of [Pandas b

[2021-07-14 13:21] ta-oliver commented on #155
So maybe user would call:

Api.export_to_csv(df, rule_name, kwarg_or_dict_parameter_settings)

...or similar and then have a CSV file appear in their local directory.

[2021-07-14 13:25] ta-oliver commented on #147
Mainly complete in https://github.com/ta-oliver/infertrade/pull/156

@deansadaoka - you were adding some unit tests in suggestions_for_infertrade_relationship_rules ? Anything from your branch to add?

[2021-07-14 15:33] ddiazsouto commented on #155
Working on it. Should the function also be in infertrade/utilities?

[2021-07-14 15:34] ta-oliver commented on #155
Yes, that's a good location.

[2021-07-16 02:03] Cal231995 opened #163 "AROON INDICATOR - DOCUMENTATION (DESCRIPTIONS OF EXISTING RULES/INDICATORS)"
What is the Aroon Indicator?

The Aroon indicator is a technical indicator that is used to identify trend changes in the price of an asset, as well as the strength of that trend. In essence, the indicator measures the time between highs and the time between lows over a time period. The idea is that strong uptrends will regularly see new highs, and strong downtrends will regularly see new lows. The

[2021-07-16 02:06] Cal231995 commented on #163
@ta-oliver  should I add @fhashim here also ? thanks

[2021-07-16 08:44] ta-oliver commented on #163
Yes - good to work with @fhashim on the LaTeX documentation.

[2021-07-19 05:00] Cal231995 opened #164 "DETRENDED PRICE OSCILLATOR (DPO)- DOCUMENTATION (DESCRIPTIONS OF EXISTING RULES/INDICATORS)"
What Is the Detrended Price Oscillator (DPO)?

A detrended price oscillator is an oscillator that strips out price trends in an effort to estimate the length of price cycles from peak to peak or trough to trough.
Unlike other oscillators, such as the stochastic or moving average convergence divergence (MACD), the DPO is not a momentum indicator. It instead highlights peaks and troughs in price, wh

[2021-07-20 12:34] Cal231995 opened #165 "PERCENTAGE PRICE OSCILLATOR (PPO) - DOCUMENTATION (DESCRIPTIONS OF EXISTING RULES/INDICATORS)"
What Is the Percentage Price Oscillator (PPO)?

The percentage price oscillator (PPO) is a technical momentum indicator that shows the relationship between two moving averages in percentage terms. The moving averages are a 26-period and 12-period exponential moving average (EMA).
The PPO is used to compare asset performance and volatility, spot divergence that could lead to price reversals, genera

[2021-07-21 18:48] #143 closed

[2021-07-22 10:12] #160 closed

[2021-07-23 15:45] fhashim opened #171 "Hide Hyper Reference Highlight from Strategies PDFs."
@Cal231995 as requested I've created this issue to remove highlights from PDFs containing hyper reference.

[2021-07-24 00:51] #171 closed

[2021-07-24 07:39] Cal231995 opened #172 "TRIPLE EXPONENTIAL AVERAGE (TRIX) - DOCUMENTATION (DESCRIPTIONS OF EXISTING RULES/INDICATORS)"
What Is TRIX?

The triple exponential average (TRIX) is a momentum indicator used by technical traders that shows the percentage change in a moving average that has been smoothed exponentially three times. The triple smoothing of moving averages is designed to filter out price movements that are considered insignificant or unimportant. TRIX is also implemented by technical traders to produce signa

[2021-07-25 00:09] #164 closed

[2021-07-25 00:13] #165 closed

[2021-07-25 00:13] #163 closed

[2021-07-27 06:10] Cal231995 opened #176 "TRUE STRENGTH INDICATOR (TSI) - DOCUMENTATION (DESCRIPTIONS OF EXISTING RULES/INDICATORS)"
Meaning, descriptions, formula.
https://www.investopedia.com/terms/t/tsi.asp

Allocation Strategy
The strategy is to identify the oversold and overbought markets and a momentum indicator

Bullish Momentum: when the tsi line cross above signal line
Bearish Momentum: when signal line cross above tsi line

The theory suggests that asset price will have a bullish momentum when the tsi line cross above

[2021-07-27 07:39] Cal231995 opened #177 "SCHAFF TREND CYCLE (STC) - DOCUMENTATION (DESCRIPTIONS OF EXISTING RULES/INDICATORS)"
Meaning, descriptions, formulas.
https://www.investopedia.com/articles/forex/10/schaff-trend-cycle-indicator.asp

Allocation Strategy
The strategy is to identify the oversold and overbought markets.

Oversold : when stc value is at 25
Overbought : when stc value is at 75

The theory suggests that asset price is oversold when the stc value is at 25 and overbought when stc value is at 75. So:
if STC

[2021-07-27 08:11] Cal231995 commented on #176
![13](https://user-images.githubusercontent.com/85642641/127119904-ece5c901-f615-4732-8c1b-b47c74aa485c.JPG)
Default Values

[2021-07-29 14:44] NikolaR01 opened #179 "Fixed calculation results found in performance.py"
I found a couple values that are calculated using hard coded values of 0 and 1 where after the calculation checks for the result are unusable since the equation will always give the same result.

**For example:**

`current_valuation = spot_price * last_securities_after_transaction + last_cash_after_trade`

In this instance last_securities_after_transaction = 0
and last_cash_after trade = 1

The re

[2021-07-29 15:02] ta-oliver commented on #179
Typically these vaues would not be hardcoded but depend on the allocations taken. Maybe worth checking in debug mode as variable value should be changing.

[2021-07-31 15:33] fhashim commented on #172
@Cal231995 moving forward I would suggest if you could provide rule description not copied from investopedia so it can be added on our documentation. Alternatively, I could just add link to investopedia as suggested by @ta-oliver.
@Cal231995 please suggest what approach should be taken moving forward.

[2021-08-01 01:31] Cal231995 commented on #172
I think we can paraphrase this or create our own definitions.
I'll try to provide our own definitions/descriptions.

[2021-08-01 01:38] Cal231995 commented on #172
What is the TRIX indicator?
The triple exponential average, known more commonly as the TRIX is a momentum indicator that is meant to filter out insignificant and unimportant price movements. Many consider it to be similar to the Moving Average Convergence/Divergence (MACD) indicator. The only difference is that the TRIX indicator provides outputs that are smoother due to triple smoothing of the ex

[2021-08-02 01:29] Cal231995 commented on #176
The True Strength Index (TSI) is a momentum indicator used to identify overbought and oversold signals. It can also be used to indicate trend reversals using bullish and bearish crossover of the signal line and tsi line.

@fhashim you can used this description. I composed this myself. thank you

[2021-08-02 19:04] fhashim commented on #172
@Cal231995 Sure. Thanks for the assistance.

[2021-08-04 09:35] Cal231995 commented on #146
What Is the Relative Strength Index (RSI)?
The Relative Strength Index (RSI), developed by J. Welles Wilder, is a momentum indicator that measures the speed and change of price movements. It is an extremely popular indicator that is used to indicate overbought and oversold signals. RSI is considered overbought when above 70 and oversold when below 30. RSI can also be used to identify the general t

[2021-08-04 10:18] Cal231995 commented on #177
What Is Schaff Trend Cycle?
The Schaff Trend Cycle (STC) Created by Doug Schaff in 1999 is an oscillator-type indicator that can help you identify positive and negative trends, indicate entry and exit points, as well as provide buy and sell signals. The Schaff Trend Cycle is bounded between 0 and 100, when it surpasses 25, it is considered as a bullish signal and when it breaks 75 it is considered

[2021-08-04 23:13] #176 closed

[2021-08-05 05:54] Cal231995 opened #183 "Kaufman’s Adaptive Moving Average (KAMA) -DOCUMENTATION (DESCRIPTIONS OF EXISTING RULES/INDICATORS)"
Description:
What is Kaufman’s Adaptive Moving Average (KAMA)?
The Kaufman's Adaptive Moving Average (KAMA), Developed by Perry Kaufman in 1998 is a moving average designed to account for market noise or volatility. The powerful trend-following indicator is based on the Exponential Moving Average (EMA) It closely follows price when noise is low and smooths out the noise when price fluctuates. A bu

[2021-08-05 06:02] bi-kash commented on #183
@fashim for your reference: https://github.com/ta-oliver/infertrade/pull/169/commits/66f67015db25e6a23e0221839778d7c3c8acde6e

[2021-08-05 13:28] Cal231995 commented on #159
What Is a Bollinger Band?
Bollinger Bands developed by John Bolinger in the 1980s, is a technical indicator that is used to identify when an asset is overbought and oversold. The bands comprise a volatility indicator that measures the relative high or low of a security’s price in relation to previous trades. It is comprised of the upper, middle, and lower band which envelopes the price range level

[2021-08-05 13:46] Cal231995 commented on #165
What Is the Percentage Price Oscillator (PPO)?
The percentage price oscillator (PPO) is a momentum indicator that measures the difference between two moving averages as a percentage of the larger moving average. The moving averages are a 26-period and 12-period exponential moving average (EMA).  The Percentage Price Oscillator is shown with a signal line, a histogram and a centerline. Signals are

[2021-08-05 14:26] Cal231995 commented on #183
@SaurabhBansalInferstat  here's a sample of a trading rule description. Thanks.

[2021-08-06 05:53] #172 closed

[2021-08-07 12:58] #147 closed

[2021-08-07 13:29] bi-kash opened #189 "Average Directional Movement Index (ADX) - DOCUMENTATION (DESCRIPTIONS OF EXISTING RULES/INDICATORS)"
# Average Directional Movement Index
Average Directional Movement Index makes use of three indicators to measure both trend direction and its strength.

Two indicators to measure trend direction: **Positive Directional Index(+DI)** and **Negative Directional Index(-DI)**
Indicator to measure trend strength: **Average Directional Index(ADX)**

**Indicaton of Strength:**
* Trend is strong if ADX > 2

[2021-08-07 15:41] bi-kash commented on #189
@Cal231995 please do the necessary research.

[2021-08-08 07:25] Cal231995 commented on #189
Yes I can. I'll send it later. But I think this indicator is not available yet on our platform.

[2021-08-08 08:07] Cal231995 opened #190 "PERCENTAGE VOLUME OSCILLATOR (PVO) - DOCUMENTATION (DESCRIPTIONS OF EXISTING RULES/INDICATORS)"
What Is the Percentage Volume Oscillator (PVO)?
The percentage volume oscillator (PVO) is a momentum indicator that measures the difference between two moving averages as a percentage of the larger moving average. The fast moving average uses a lower period, and is thus more reactive to changes in volume. The slow moving average uses a faster period and is therefore less reactive. The PVO is posit

[2021-08-08 09:06] Cal231995 commented on #189
What is Average Directional Index?
The Average Directional Index (ADX) introduce by Wells Wilder, is a technical indicator that is used to help measure the overall strength of the trend. This indicator attempts to measure the strength of price movement in positive and negative direction using the DMI+ and DMI- indicators along with the ADX. A trend is considered strong when the value of the Adx is

[2021-08-09 06:28] #159 closed

[2021-08-11 01:27] Cal231995 opened #196 "RATE OF CHANGE (ROC) - DOCUMENTATION (DESCRIPTIONS OF EXISTING RULES/INDICATORS)"
What is Rate of Change (ROC)
The Rate of Change indicator, which is also known as simply momentum, is a momentum indicator. It measures the percentage change in price between the current price and the price a certain number of periods ago. Traders used this indicator to identify bullish and bearish momentum. The ROC indicator is plotted against zero, with the indicator moving upwards into positive

[2021-08-11 11:08] Cal231995 opened #197 "SIMPLE MOVING AVERAGE (50) (SMA)- DOCUMENTATION (DESCRIPTIONS OF EXISTING RULES/INDICATORS)"
What Is Simple Moving Average (SMA)?
A simple moving average (SMA) is a technical indicator used by most traders to identify the trend of an asset. It calculates the average of a selected range of prices, usually closing prices, by the number of periods in that range. A crossover is usually used by traders as a signal to buy and sell. It is considered bullish when the SMA cross below the price of

[2021-08-11 11:09] Cal231995 commented on #197
@bi-kash please check if the allocation strategy is the same with the existing codes. Thanks

[2021-08-11 12:58] Cal231995 opened #198 "STOCHASTIC RSI - DOCUMENTATION (DESCRIPTIONS OF EXISTING RULES/INDICATORS)"
What Is the Stochastic RSI?
The Stochastic RSI (StochRSI) is an indicator used in technical analysis to identify overbought and oversold signals. It ranges between zero and one hundred and is created by applying the Stochastic oscillator formula to a set of relative strength index (RSI) values rather than to standard price data. An asset is considered oversold when the stochrsi values is below 20

[2021-08-11 18:17] SaurabhBansalInferstat opened #199 "Missing DPO Indicator from the infertrade_export_allocations dictionary in the allocations.py"
- we have the calculation for allocations for the DPO indicator but me may seem to be missing its meta data in the infertrade export allocations dictionary required.

[2021-08-12 02:29] fhashim commented on #196
@Cal231995 please revise the description for this rule to avoid copyright issue. thanks.

[2021-08-12 02:45] fhashim commented on #190
@Cal231995 please rectify the description of this rule, the current description starts with PPO.

[2021-08-12 02:58] fhashim commented on #197
@Cal231995 the documentation for this rule already exists [here](https://github.com/ta-oliver/infertrade/blob/main/docs/strategies/pdf/SimpleMovingAverage.pdf). The default currently for long and short window is 10 & 5 respectively. If that requires to be changes please suggest.

[2021-08-12 09:23] Cal231995 commented on #196
What is Rate of Change (ROC)
The Rate of Change indicator, is a technical indicator which is mostly used by traders to Identify the momentum of an asset. It measures the percentage change in price between the current price and the price a certain number of periods ago. The ROC indicator is plotted against zero, with the indicator moving upwards into positive territory if price changes are to the u

[2021-08-12 09:24] Cal231995 commented on #190
edited. Thanks

[2021-08-12 09:25] #183 closed

[2021-08-12 09:29] Cal231995 commented on #197
yes. I think it is based on the crossovers. I will confirm it first with bikash. I will update you.thanks

[2021-08-12 09:33] Cal231995 commented on #197
@bi-kash

[2021-08-12 09:37] Cal231995 commented on #197
Hi @fhashim  as confirmed by @bi-kash this documentation is wrong.  please update the documentation based on the description on this issue. thank you.

[2021-08-12 11:48] #199 closed

[2021-08-13 19:06] fhashim commented on #177
@Cal231995 can you also provide the formula for this rule. The link that you mentioned above does not contains formula for this rule.

[2021-08-14 12:34] Cal231995 commented on #177
Hi @fhashim You can refer to this. Thanks
![stc formula](https://user-images.githubusercontent.com/85642641/129446496-39b7aaa8-0513-420d-b9a1-6036328f99e8.JPG)

[2021-08-14 12:35] #196 closed

[2021-08-16 13:38] SaurabhBansalInferstat opened #205 "Inferface Issue Infertrade affecting Inferlib"
- Currently in the Inferlib in the TradingruleAPI.py we are bifurcating i.e. the if statement the difference in the creating a pipeline for the TA rule vs the non-TA rule. We would like to add the handling in the InferTrade without adding the bifurcation in Inferlib to distinguish the ta vs non ta rule and add more unit test in InferTrade to replicate the scenario.

Description of issue
 - When we

[2021-08-16 15:48] ta-oliver commented on #205
@SaurabhBansalInferstat - can we add more detail on which functions/cases are giving a different response format. Ideally sufficient detail that someone could create a unit test and then address.

[2021-08-16 15:50] ta-oliver commented on #179
@NikolaR01 - please can you add links to the specific lines of code that are hardcoded and/or a feature branch that replicates unexpected behaviour.

[2021-08-16 17:13] NikolaR01 commented on #179
First instance of issue can be seen [here](https://github.com/ta-oliver/infertrade/blob/main/infertrade/utilities/performance.py#L125)

and the second instance is found [here]( https://github.com/ta-oliver/infertrade/blob/main/infertrade/utilities/performance.py#L135)

the hard coded values are declared [here](https://github.com/ta-oliver/infertrade/blob/main/infertrade/utilities/performance.py#L5

[2021-08-16 17:15] ta-oliver commented on #179
Which are hardcoded?

last_securities_after_transaction is modified on the following line:

https://github.com/ta-oliver/infertrade/blob/29a4b99496bf5e5e275c5cb62779e70e5de0ae0a/infertrade/utilities/performance.py#L232

[2021-08-16 17:30] NikolaR01 commented on #179
Spot price varies day to day but in the case of the two calculations i mentioned last_securities_after_transaction and last_cash_after_trade are not changed at any point following up to them, resulting in current_allocation and current_valuation constantly having the same outcome

[2021-08-16 17:51] ta-oliver commented on #179
last_securities_after_transaction is changed in line 232.

This whole statement is [in a loop](https://github.com/ta-oliver/infertrade/blob/29a4b99496bf5e5e275c5cb62779e70e5de0ae0a/infertrade/utilities/performance.py#L96), so when it is changed on [line 232](https://github.com/ta-oliver/infertrade/blob/29a4b99496bf5e5e275c5cb62779e70e5de0ae0a/infertrade/utilities/performance.py#L232) it will chang

[2021-08-16 18:15] #179 closed

[2021-08-18 23:57] #190 closed

[2021-08-19 11:20] ta-oliver opened #211 "Add guidance to infertrade package readme on how to use the InferTrade API"
## Explanation

We have just added documentation for our API at [api.infertrade.com](https://api.infertrade.com). This allows users of the infertrade package to make calls to our API if they want to calculate statistics or optimise their trading rules, just as they already can on InferTrade.com.

We would like to add brief documentation explaining how to integrate Python code with usage of the API

[2021-08-19 11:30] ta-oliver opened #212 "Add datamining / screening scripts that use the API to process a batch of time series data"
## Explanation

We would like to allow infertrade package users to be able to evaluate large number of time series for prediction.

To do this we could create a script that sequentially calculates the performance of trading strategy using pairwise combinations (A versus B) for a set of time series supplied by the user. E.g. 10 cryptocurrency price series.

The output could be a Python object, idea

[2021-08-19 11:42] ta-oliver opened #213 "Test out readme for new user of package"
Does the readme give enough guidance on topics like:

- how do I calculate trading rule recommendations?
- how do I calculate the performance of a trading strategy?
- how do I modify the parameters that a trading strategy uses?

We could add a FAQ or boost existing sections if helpful.

![image](https://user-images.githubusercontent.com/29981664/130062797-22f70b92-7ae6-419f-848a-8d6ead1b6eee.png)

[2021-08-20 16:48] #198 closed

[2021-08-20 16:49] #189 closed

[2021-08-21 03:33] #177 closed

[2021-08-22 05:55] bi-kash opened #216 "all allocation function in ta_export_regression_allocation are displaying same behaviour"
Problematic code:

    allocation_dictionary = {}

    for ii_ta_signal in ta_export_signals:
        ta_rule_name = ta_export_signals[ii_ta_signal]["function_names"]

        def allocation_function(time_series_df: pd.DataFrame, *args, **kwargs) -> pd.DataFrame:
            """Generic regression treatment of ta technical signals."""
            ta_signal_func = ta_export_signals[ii_ta_signal]["cl

[2021-08-23 11:28] ta-oliver commented on #216
Can we deepcopy, so that each version is separately defined, as per https://github.com/ta-oliver/infertrade/pull/217/files?

[2021-08-23 13:16] Cal231995 opened #218 "Suggestion - Zoom option when inspecting the results of optimization"
Hard to inspect allocations. Create a zoom option for the users to see exact date of allocations and returns
![zoom cant see](https://user-images.githubusercontent.com/85642641/130453359-bba83da8-7144-4d66-9263-bdf0728706dd.png)
![zoom option when inspecting charts](https://user-images.githubusercontent.com/85642641/130453367-7c997ecc-8aae-442c-842f-c2630e79d07a.JPG)

https://user-images.githubuse

[2021-08-23 13:20] bi-kash commented on #216
Please take a look at the review at the same PR

[2021-08-23 17:59] #197 closed

[2021-08-23 18:27] ta-oliver commented on #218
@Cal231995 - there are two features we have:

1. Can adjust chart width in edit mode.
2. Can enter inspection mode to get specific values.

We can make further changes, but do either of those address any of the challenges?

[2021-08-24 01:30] Cal231995 opened #219 "BUG - Times series not showing"
Cannot select time series.
See attachment for actual video
Uploading time series not showwing.mp4…

[2021-08-24 07:25] Cal231995 commented on #218
Yes sir. Actually, I've tried those and still, it's hard to navigate to the exact date of the allocation as it is also small. (especially when used data's are composed of yrs.)
Maybe an easy approach would be when the cursor is in the chart area. allow to zoom in or out it using the scroll of mouse.
These are for both the chart of the asset and the allocation results. Thanks.

[2021-08-24 08:16] ta-oliver commented on #205
@bi-kash - we can now close this? Or we should modify Inferlib too?

[2021-08-24 08:24] bi-kash commented on #205
Just pushed some changes in inferlib minor-refactoring branch. Let's see if the test passes there.

[2021-08-24 08:44] #216 closed

[2021-08-24 08:46] #205 closed

[2021-08-24 09:11] Cal231995 commented on #219
another 1

https://user-images.githubusercontent.com/85642641/130590301-1d3e1fa4-bf33-4449-95df-39f665dc36bf.mp4

[2021-08-26 14:55] SaurabhBansalInferstat opened #221 "Needs Discussion - Rule Categories and Pdf"
- currently on the front end the new rule are coming in the other Strategies and have to link the pdf to the rules and put the rules in the right category. (Maybe we can create a new category which is infertrade category)

- On the Frontend on dev(https://dev-dot-analog-antler-216014.appspot.com/) the postman tests indicate that the we are providing the link to the code but its not showing on the

[2021-09-02 08:01] ta-oliver commented on #218
@Cal231995 - can we transfer this issue to infertrade-frontend? As not directly dependent on infertrade package.

[2021-09-02 08:03] #145 closed

[2021-09-02 08:04] #155 closed

[2021-09-02 11:16] ta-oliver commented on #211
Thanks @asifnawaz24 and @bi-kash

[2021-09-02 11:16] #211 closed

[2021-09-02 11:17] ta-oliver commented on #213
@asifnawaz24 - can you raise a PR for any minor clarifications that would be helpful.

[2021-09-02 11:24] ta-oliver opened #227 "Try and simplify dictionaries that accompany the allocation rules"
Current format of the dictionaries is complicated, with four fields:

![current-dict](https://user-images.githubusercontent.com/29981664/131835232-eb642d4e-8331-46d0-9979-5042512227cf.jpg)

This could be simplified by the follow steps:

- [ ] Remove the algorithms from the dictionary. Instead always match the dictionary entry key with the function name.
- [ ] Replace the hardcoded parameters with

[2021-09-02 11:27] ta-oliver commented on #227
@bi-kash - worth future discussion?

[2021-09-02 11:29] ta-oliver commented on #213
As needing to find out the required time series can be non-obvious, we could highlight the API method for getting the required input columns:

![api-required-inputs](https://user-images.githubusercontent.com/29981664/131836163-b812df04-cdb6-4d8f-b0e4-412e9bcd2320.jpg)

[2021-09-02 11:30] Cal231995 commented on #218
already transferred
thanks
https://github.com/inferstat/infertrade-frontend/issues/5711

[2021-09-02 11:30] #218 closed

[2021-09-28 14:00] fhashim opened #236 "Documentation for Price Prediction Using Signal Regression"
Create tex file and pdf documentation for our strategies that use regressions of technical indicators. These use transformer in a pipeline, like [PricePredictionFromSignalRegression](https://github.com/ta-oliver/infertrade/blob/a784b4055a2b525f1439cdd7eaea1b2088881ea3/infertrade/utilities/operations.py#L105) to take technical indicator signals and regress them against price.

The code for these re

[2021-10-05 11:40] #236 closed

[2021-10-08 16:36] ta-oliver opened #240 "Rolling regressions listed as defaulting to 50 steps, rather than 120"
We should use 120 time steps to ensure the regression has sufficient data to estimate parameters and error magnitude.

- [ ] Investigate and remediate if possible.

[2021-10-08 18:00] #221 closed, assigned to ta-oliver, bi-kash, SaurabhBansalInferstat, Cal231995

[2021-10-14 11:47] #3 closed, assigned to nobody

[2021-10-14 11:47] #33 closed

[2021-10-19 16:53] NikolaR01 opened #248 "Python scripts in the InferTrade package to make calling the API easier"
Scripts would allow InferTrade package users to execute API requests easily, the default request bodies would be scraped from the API_GUIDANCE.md file found in the package, and execution of all of them would be done with one line of code

[2021-10-20 17:41] fhashim opened #249 "Documentation for Price Prediction Using Out of Sample Regression"
We need to add PDFs for the out of sample regressions.

[2021-11-05 14:21] ta-oliver commented on #249
@fhashim - how far along is this? Do you need further information?

[2021-11-07 17:00] fhashim commented on #249
@ta-oliver Sorry for the late response I've added documentation for Out of Sample regression.

However, I do have a question regarding the fit percentage. I had asked it on Slack as well. Can you please comment. thanks

[2021-11-10 13:54] ta-oliver opened #254 "Uploading 50,000 length intraday series causes major performance issues for later steps (like accessing PDF)"
![image](https://user-images.githubusercontent.com/29981664/141125465-899b6203-429d-48b8-a087-29dba0767b8e.png)

We could consider discarding the unused parts of the time series on upload to prevent overloading the Redux store/memory?

Data uploaded:
[BTCUSD_M1.csv](https://github.com/ta-oliver/infertrade/files/7513204/BTCUSD_M1.csv)
[ETHUSD_M1.csv](https://github.com/ta-oliver/infertrade/files/75

[2021-11-10 13:54] #254 closed

[2021-12-22 15:22] NikolaR01 opened #265 "InferTrade CLI - Discussion"
What are your thoughts about implementing a text-based UI for the package?
Could make it more user friendly for people with low/none prior programming knowledge

Example:

![itCLI](https://user-images.githubusercontent.com/74156271/147114168-e644ff9d-0d7c-45e4-b34d-f6fd75015491.jpg)

[2021-12-22 21:57] martinbarnard commented on #265
I love the idea. Do you have any thoughts about which library?

[2021-12-23 10:01] NikolaR01 commented on #265
@martinbarnard

Haven't put much thought into it, what would you recommend?

[2021-12-23 13:09] martinbarnard commented on #265
Depends upon expected use-case, platform & programming language.
 * whiptail / dialog for simple stuff in bash
 * curses / ncurses in python is most likely a better option, but is quite low-level
 * npyscreen maybe - built on ncurses, so is most likely easier to build with
 * urwid is also an option - I think I played with this a few years back.
 * maybe python-prompt-toolkit

 Anyhow, there's my

[2022-01-28 19:36] #249 closed

[2022-11-24 12:09] #40 closed

[2022-11-24 12:09] #96 closed

[2022-11-24 12:09] #106 closed

[2022-11-24 12:09] #118 closed

[2022-11-24 12:09] #141 closed

[2022-11-24 12:09] #240 closed

[2022-11-24 12:09] #265 closed